{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col-sm">
            Olá {{ usuario.funcionario.nome }}
            <ul>
                <li><a href="{% url 'list_funcionarios' %}">Gerenciar Funcionários</a></li>
                <li><a href="{% url 'list_departamentos' %}">Gerenciar Departamentos</a></li>
                <li><a href="{% url 'list_registros_hora_extra' %}">Gerenciar Banco de Horas</a></li>
                <li><a href="{% url 'pdf_reportlab' %}">Gerar PDF reportlab</a></li>
                <li><a href="{% url 'xhtml2pdf' %}">Gerar PDF xhtml2pdf</a></li>
            </ul>
        </div>
        <div class="col-sm">
        One of three columns
        </div>
        <div class="col-sm">
            <a href="{% url 'logout' %}">Logout</a>
            {% if usuario.funcionario.empresa %}
                <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar Empresa</a>
            {% else %}
                <a href="{% url 'create_empresa' %}">Criar Empresa</a>
            {% endif %}
        </div>
    </div>
{% endblock main %}